
<div class="bloc bg-t-edge bgc-dark-jungle-green d-bloc" id="bloc-5">
  <div class="container bloc-sm">
    <div class="row">
      <div class="offset-lg-0 col-lg-7 align-self-center col-md-11 col-sm-8">
        <h2 class="mg-md text-center tc-medium-spring-green text-lg-left">Let's build the perfect digital solution for you. </h2>
      </div>
    </div>
  </div>
</div>

<div class="bloc bgc-dark-jungle-green d-bloc" id="bloc-6">
  <div class="container bloc-md">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-lg-2 align-self-start">
        <img class="img-fluid mg-sm lazyload" src="img/lazyload-ph.png" data-src="img/Pascal-logo-inv.svg" alt="Pascal"/>
        <ul class="list-unstyled">
          <li>
            <label class="mg-sm" style="display: flex;align-items: baseline;">
              <span class="fa fa-mobile-phone"></span>  +52 6672016415
            </label>
          </li>
          <li>
            <label class="mg-sm" style="display: flex;align-items: baseline;">
              <span class="fa fa-whatsapp"></span>  +52 6672016415
            </label>
          </li>
          <li>
            <label class="mg-sm" style="display: flex;align-items: baseline;">
              <span class="fa fa-envelope"></span> ventas@pascalsolutions.com
            </label>
          </li>
        </ul>
      </div>
      
      <div class="col-sm-6 col-lg-4 offset-lg-2 col-md-6">
        <p>
          Any questions? Visit our:
        </p>
        <a href="preguntas-frecuentes" class="btn btn-d btn-block btn-rd third-btn">Frequently Asked Questions</a >
        <p class="margin-top mg-sm">
          Connect with us through:
        </p>
        <div class="row my-3">
          <div class="col-2 col-sm-2 col offset-sm-0 offset-lg-0">
            <div class="text-center">
              <a href="https://www.facebook.com/PascalSolutions" target="_blank">
                <span class="fa fa-facebook-official icon-md"></span ></a>
            </div>
          </div>
          <div class="col-2 col-sm-2 col offset-sm-0 offset-lg-0">
            <div class="text-center">
              <a href="https://whatsapp.com" target="_blank">
                <span class="fa fa-whatsapp icon-md"></span ></a>
            </div>
          </div>
          <div class="col-2 col-sm-2">
            <div class="text-center">
              <a href="https://www.instagram.com/PascalSolutions/" target="_blank">
                <span class="fa fa-instagram icon-md"></span ></a>
            </div>
          </div>
          <div class="col-2 col-sm-2">
            <div class="text-center">
              <a href="https://www.linkedin.com/company/PascalSolutions/" target="_blank">
                <span class="icon-md fa fa-linkedin"></span ></a>
            </div>
          </div>
          <div class="col-2 col-sm-2">
            <div class="text-center">
              <a href="https://www.youtube.com/" target="_blank">
                <span class="icon-md fa fa-youtube-play"></span ></a>
            </div>
          </div>
          <div class="col-2 col-sm-2">
            <div class="text-center">
              <a href="contacto">
                <span class="fa fa-envelope-o icon-md"></span ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-unstyled list-horizontal-layout">
          <li>
            <p>
              Copyright © 2025 PascaltSolutions. - All rights reserved
            </p>
          </li>
          <li>
            <p>
              <a href="/docs/Pascal_terminos_y_condiciones.pdf" target="_blank">Terms and Conditions</a ><br/>
            </p>
          </li>
          <li>
            <p>
              <a href="/docs/Pascal_aviso_de_privacidad.pdf" target="_blank">Privacy Policy</a ><br/>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row row-margin-top no-gutters">
      <div class="col">
        <div>
          <div class="waves-container" data-wave-front-color="#FFFFFF" data-wave-middle-color="#FFC107 " data-wave-back-color="#ffd454" data-wave-height="105">
            <canvas id="wave-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  
