<div class="bloc l-bloc sticky-nav" id="bloc-0">
  <div class="container bloc-sm py-0">
    <div class="row">
      <div class="col align-self-center">
        <nav class="navbar navbar-light row navbar-expand-md" role="navigation">
          <a class="navbar-brand" href="/">
            <img src="img/Pascal-logo.png" alt="logo"/></a>
          <button id="nav-toggle" type="button" class="ml-auto ui-navbar-toggler navbar-toggler border-0 p-0" data-toggle="collapse" data-target=".navbar-910" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbar-910 my-nav-list">
            <ul class="site-navigation nav navbar-nav ml-auto">
              <li class="nav-item">
                <a href="" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="quienes-somos" class="nav-link">About Us</a>
              </li>
              <li class="nav-item">
                <a href="servicios" class="nav-link">Services</a>
              </li>
              <li class="nav-item">
                <a href="contacto" class="a-btn nav-link">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>