<!DOCTYPE html>
<html>
  <head>
    <base href="/"/>
    <meta charset="utf-8"/>
    <meta name="keywords" content="software development, it consulting, web applications, mobile applications, custom software, mexico, "/>
    <meta name="description" content="Custom software development and IT consulting for businesses in Mexico. We build innovative and efficient web and mobile solutions."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/linecons.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/ionicons.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap&subset=latin,latin-ext" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="css/nav.css"/>
    <link rel="stylesheet" type="text/css" href="css/responsive.css"/>
    {% block head %}{% endblock %}

  </head>
  <body>
    <div class="page-container">
      {% include 'header.njk' %}

      {% block body %}{% endblock %}

      <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)">
        <span class="fa fa-chevron-up"></span ></a>

      {% include 'footer.njk' %}
    </div>

    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/blocs.min.js"></script>
    <script src="js/lazysizes.min.js" defer="defer"></script>
    <script src="js/mresize.js"></script>
    <script src="js/mtitle.js"></script>
    <script src="js/nav.js"></script>
    <script src="js/waves.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    {% block scripts %}{% endblock %}

    <div id="page-loading-blocs-notifaction" class="page-preloader"></div>
  </body>
</html>