{% extends 'layout.njk' %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="css/slider.css"/>
  <title>PascalSolutions</title>
{% endblock %}

{% block body %}

  <div class="bloc none bgc-dark-jungle-green d-bloc" id="hero">
    <div class="container bloc-lg">
      <div class="row">
        <div class="col-lg-7">
          <h1 class="mg-md dark-color h1-style green">
            //Coding Your Vision To Life
          </h1>
        </div>
        <div class="col">
          <img src="img/lazyload-ph.png" data-src="img/index-developer.png" class="img-fluid mx-auto d-block lazyload" alt="index 01"/>
        </div>
      </div>
      
    </div>
  </div>

{% endblock %}

