{% extends 'layout.njk' %}

{% block head %}
  <title>About Us</title>
{% endblock %}

{% block body %}
  <div class="bloc l-bloc" id="bloc-5">
    <div class="container bloc-lg">
      <div class="row" style="display: flex;justify-content: center;">
        <div class="col-lg-6 align-self-center col-md-7">
          <h1 class="mg-md text-center text-md-left dark-color h1-style">Our Story
          </h1>
          <p class="mg-md float-none text-justify dark-color">
            <strong>Pascal Solutions</strong> emerged after years of our team analyzing the diverse needs of Mexican SMEs, particularly within the investment sector and the broader national business landscape – what we often referred to as “the system.” Our founding members, initially driven by a passion for elegant code, transitioned into business consultants, where they keenly observed the recurring need for tailored digital solutions. This experience highlighted the necessity of creating a robust technological ecosystem for Mexican SMEs, enabling them to achieve empowering their growth and streamlining their operations with custom-built software, independent of off-the-shelf limitations.
          </p>
          <p class="text-justify dark-color">Simultaneously, we recognized that across various industries, and specifically within the realm of business processes and data management, there was a significant gap in accessible expertise and truly customized technological tools. Businesses often struggled with generic software that didn't quite fit their unique workflows. With this in mind, <strong>Pascal Solutions</strong> was born: a provider of fair and effective bespoke software development for Mexican SMEs, offering solutions crafted <strong>STARTING WITH A DEEP UNDERSTANDING OF YOUR NEEDS</strong> delivering tangible results and a competitive edge far beyond the capabilities of standardized software. We empower businesses to optimize their processes and unlock their full potential through tailored technology.
          </p>
          <p class="text-justify dark-color">At<strong> Pascal Solutions</strong> our focus is on CREATING a digital ecosystem that truly propels the Mexican economy forward by empowering its businesses with effective, transparent, and responsible technological solutions.
          </p>
          <p class="text-justify dark-color">Our objective is that while being passionate coders, insightful analysts, and dedicated problem-solvers, we also become your trusted TECHNOLOGY PARTNERS. In this way, we can COLLECTIVELY drive the growth of Mexican SMEs through innovative software and be rewarded by seeing your success and the positive impact of our solutions.
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}{% endblock %}