{% extends 'layout.njk' %}

{% block head %}
  <title>Services</title>
  <style>
    .price-card {
      transition: box-shadow 0.4s;
    }
    small.note {
      font-size: 70%;
    }
  </style>
{% endblock %}

{% block body %}
<div class="bloc l-bloc" id="bloc-5">
    <div class="container bloc-lg">
      <div class="row" style="display: flex;justify-content: center;">
        <div class="col-lg-6 align-self-center col-md-7">
          <h1 class="mg-md text-center text-md-left dark-color h1-style">Our Services
          </h1>
          <p class="mg-md float-none text-justify dark-color">At <strong>Pascal Solutions</strong>, we specialize in crafting tailored digital solutions for Mexican SMEs. Recognizing the diverse needs within the investment sector and the broader national business landscape – what we often refer to as “the system” – our team of experienced developers and consultants is driven by a passion for creating impactful technology. We empower businesses by building robust and scalable software, independent of the limitations of off-the-shelf options.
          </p>
          <p class="text-justify dark-color">We excel in developing <strong>custom web pages</strong> designed to enhance your online presence and engage your target audience. Whether you need a dynamic e-commerce platform, an informative corporate website, or a specialized web application, we build solutions that align perfectly with your brand and objectives.
          </p>
          <p class="text-justify dark-color">Furthermore, <strong>Pascal Solutions</strong> offers expertise in creating powerful and user-friendly <strong>desktop applications</strong>. From streamlining internal workflows and managing complex data to providing specialized tools for your industry, our desktop apps are built for performance and efficiency, tailored precisely to your operational requirements.
          </p>
          <p class="text-justify dark-color">Our focus at <strong>Pascal Solutions</strong> is on CREATING a digital ecosystem that truly propels the Mexican economy forward by equipping its businesses with effective, transparent, and responsible technological tools, including cutting-edge web and desktop applications.
          </p>
          <p class="text-justify dark-color">Our objective is to be more than just developers; we are your trusted TECHNOLOGY PARTNERS, dedicated to understanding your unique challenges and delivering innovative web and desktop solutions that drive your growth and contribute to your success.
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}{% endblock %}